@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;1,100;1,200&display=swap');

body {
  font-family: Raleway, sans-serif; 
  margin: 50px; 
  font-size: 1.5em; /* 18pt font */
  text-align: center;
  background: #ffdd81;
  color: #fff; /* h1 Text color */
}
